<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/main-style.css">
    <link rel="stylesheet" href="../static/cadastrar-style.css">
    <title>Document</title>
</head>
<body>
    <nav class="nav-bar">
        <ul>
            <li><h1>Bus ticket</h1></li>
            <li><a href="login.html"><p>Login</p></a></li>
            <li><a href="cadastrar.html"><p>Cadastrar</p></a></li>
        </ul>
    </nav>
    <section>
        <div class="container">
        <div class="cadastrar">
            <h1>Cadastrar</h1>
            <form action="cadastrar" method="post">
                <input type="text" name="name" placeholder="Nome">
                <input type="text" name="email" placeholder="Email">
                <input type="text" name="cpf" placeholder="CPF">
                <input type="password" name="password" placeholder="Senha">
                <button type="submit">Cadastrar</button>
            </form>
        </div>
    </div>
    </section>
    <script src="cadastrar.js"></script>
</body>
</html>