<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/main-style.css}" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <nav class="nav-bar">
        <ul >
            <li><h1>BusTicket</h1></li>
            <li><a href="login.html"><p>Login</p></a></li>
            <li><a href="cadastrar.html"><p>Cadastrar</p></a></li>
        </ul>
    </nav>
    <section>
        <div class="box-img">
            <img src="/images/buss.jpg" alt="">
        </div>
    </section>
</body>
</html>