<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link th:href="@{/css/main-style.css}" rel="stylesheet">
    <link th:href="@{/css/login-style.css}" rel="stylesheet">
   
    <title>Login</title>
</head>
<body>
    <nav class="nav-bar">
        <ul>
            <li><h1>BusTicket</h1></li>
            <li><a href="/login"><p>Login</p></a></li>
            <li><a href="/cadastrar"><p>Cadastrar</p></a></li>
        </ul>
    </nav>
    <section>
        <div class="container">
        <div class="login">
            <h1>Login</h1>
            <form id="form">
                <input type="text" name="email" id="email" placeholder="Email">
                <input type="password" name="password" id="password" placeholder="Senha">
                <input type="hidden" name="role" value="user">
                <button type="submit">Entrar</button>
                <div><a href="/register">Cadastra-se</a></div>
            </form>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script th:src="@{/js/login.js}"></script>
    
</body>
</html>