<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/main-style.css}" rel="stylesheet">
    <title>busticket</title>
</head>
<body >
    <header class="container">
        <nav class="nav-bar">
            <ul>
                <li><h1>BusTicket</h1></li>
                <li><a href=""><p>Home</p></a></li>
                <li><a href=""><p>Reservas</p></a></li>
                <li><a href=""><p>Meus Pedidos</p></a></li>
                <li><a href=""><p>logout</p></a></li>
            </ul>
        </nav>
    </header>
    <section>


    </section>
</body>
</html>